.about-banner2 {
  width: 450px;
  margin-left: 30px;
}
.more-info{
    margin-left: 30px;
}
.about-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }
  .about-banner{
      width: 100%;
  }
  .about-container img{
      width: 100%;
      margin: 0;
  }
  .more-info{
      margin: 0;
  }
  .about-banner2 img{
      width: 400px;
      margin: 0;
  }
}
